:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Remove default centering / max-width stuff */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #020617; /* match app background */
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
